/* Styles go here */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  direction: rtl;
  text-align: right;
  font-family: "arial";
  font-size: 15px;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  color: white;
}


/* clearfix */
.details:after,
.row:after,
.header:after,
.header-elem:after,
nav:after,
.logo:after,
.footer-menu:after,
.fb-img:after,
.gray-tab > div:after, #map:after,.header-elem:after  {
  content: "";
  display: table;
  clear: both;
}

.header,
nav {
  width: 83%;
}

.nav-cont {
  position: relative;
}

nav {
  position: absolute;
  margin-top: 25px;
  width: 100%;
  right: 145px;
  top: 18px;
}

.logo {
  margin-top: 10px;
}

.top {
  height: 106px;
  width: 100%;
  background-image: url("images/header_bg.png");
  background-repeat: repeat-x;
}

.top-main {
  padding-left: 25px;
  padding-top: 20px;
}

.header,
.header-elem,
nav,
logo {
  float: left;
}

.home-back {
  background-image: url("images/menu_home.png");
  position: relative;
  width: 34px;
  height: 15PX;
  margin-right: 7px;
  margin-left: -10px;
  display: block;
}

.home-front {
  background-color: rgb(144, 144, 144);
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.search-txt-wrp {
  background-image: url("images/search_input.png");
  height: 17px;
  width: 132px;
}

.search-btn {
  display: block;
  border: none;
  height: 19px;
  width: 19px;
  background-image: url("images/search_button.png");
}

.menu-sep {
  height: 21px;
  width: 4px;
  background-image: url("images/menu_sep.png");
}

.search-txt {
  background: transparent;
  border: none;
  width: 124px;
  font-size: 12px;
  font-weight: normal;
  margin-right: 3px;
}

::placeholder {
  color: black;
  opacity: 1;
}

.lang {
  padding-left: 15px;
  font-size: 12px;
}

.column {
  float: left;
  width: 33%;
}

.main,
.top-main {
  margin: auto;
  width: 920px;
}

.main {
  padding-left: 15px;
  padding-top: 30px;
}

nav > ul > li,
.menu-elem, .y-link > a, .y-arrw  {
  display: inline-block;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  right: 20px;
  top: 100%;
  padding-top: 15px;
  display: none;
}

.dropdown:hover > .dropdown-content {
  display: block;
}

.dropdown > a {
  margin: 6px 14px 0px 9px;
}

.dropdown > .menu-sep {
  margin: 8px 0px -6px 0px;
}

.dropdown-content > ul > li > a {
  display: block;
  height: 30px;
  width: 170%;
  background-image: url("images/menu_dropdown_bg.png");
  background-repeat: repeat-x;
  padding: 5px;
  margin: auto;
}

.dropdown-content > ul > li > a:hover {
  background-color: rgb(181, 181, 181);
  background-image: none;
  text-decoration: underline;
  color: blue;
}

.upper-left-img {
  height: 354px;
  width: 291px;
  background-image: url("images/פזקר_-291_354410564000.jpg");
}

.upper-mid-img {
  height: 354px;
  width: 291px;
  background-image: url("images/Picture-046410251500.jpg");
}

.upper-right-img {
  height: 354px;
  width: 291px;
  background-image: url("images/1908364606615453350.JPG");
}

.upper-overlay {
  height: 354px;
  width: 291px;
  background-image: url("images/hp_tab_overlay.png"); 
  position: relative;
}

.gray-tab {
  height: 97px;
  width: 248px;
  background-image: url("images/hp_tab_text_bg.png");
  position: absolute;
  right: 10px;
  top: 250px;
}

.gray-tab > h1 {
  font-size:14px;
  margin-right: 10px;
  margin-top: 5px;
}

.gray-tab > p {
  font-weight: normal;
  font-size:13px;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.gray-tab > div {
  float: left;
  margin-top:-10px;
}

.w-arrw, .gray-tab a {
  display: inline-block;
}

.gray-tab a {
  display: inline-block;
  text-decoration: underline;
  font-weight: normal;
  margin-left:5px;
  font-size:13px;
}
.w-arrw {
  height: 9px;
  width: 8px;
  margin-left:10px;
  background-image: url("images/read_more_white.png");
}

.lower-img {
  height: 216px;
  width: 292px;
  background-image: url("images/small_cube_bg.png");
  margin-top : 20px;
  margin-left : 4px;
  margin-right : 4px;
}

#map {
  float:left;
  margin-top : 15px;
  margin-left : 20px;
}

.lower-img > h1, .y-link > a {
  color: rgb(79,79,79);
  font-size: 14px;
}

.lower-img > h1{
  margin-top: 8px;
  margin-right: 25px;
}

.details {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
 
}

.y-link > a {
  font-size: 12px;
  color: rgb(105,104,100);
  text-decoration: underline;
  font-weight: normal;
}

.y-arrw {
  height: 9px;
  width: 8px;
  margin-left:10px;
  background-image: url("images/read_more_yellow.png");
  margin-right: 2px;
}

.banner {
  margin-top: 25px;
  margin-right: 25px;
}

.areas {
  margin-top: 25px;
  margin-right: 25px;
}
.areas .y-link{
  margin-top: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  height: 38px;
  width: 100%;
  background-image: url("images/footer_bg.png");
}

.footer-elem {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  font-family: "Arial Narrow", Arial, sans-serif;
}

.fb-img {
  height: 18px;
  width: 18px;
  background-image: url("images/fb_icon.png");
  margin-top:15px;
  float: right;
}

footer > div {
  height: 100%;
  width: 900px;
  margin:auto;
}

.footer-sep {
  margin-left: 1px;
  margin-right: 1px;
}

.footer-menu {
  padding-top:15px;
  padding-right:5px;
  float: right;
}