/* Styles go here */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  direction: rtl;
  text-align: right;
  font-family: "arial";
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  color: white;
}

.header-elem:after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: black;
}


/* clearfix */

.row:after,
.header:after,
.header-elem:after,
nav:after,
logo:after {
  content: "";
  display: table;
  clear: both;
}

.header,
nav {
  width: 83%;
}

nav {
  margin-top:  25px;
}

.logo {
  margin-top: 10px;
}

.top {
  height: 106px;
  width: 100%;
  background-image: url("images/header_bg.png");
  background-repeat: repeat-x;
}

.top-main {
  padding-left: 25px;
  padding-top: 20px;
}

.header,
.header-elem,
nav,
logo {
  float: left;
}

.home-back {
  background-image: url("images/menu_home.png");
  position: relative;
  width: 34px;
  height: 15PX;
}

.home-front {
  background-color: rgb(144, 144, 144);
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.search-txt-wrp {
  background-image: url("images/search_input.png");
  height: 17px;
  width: 132px;
}

.search-btn {
  display: block;
  border: none;
  height: 19px;
  width: 19px;
  background-image: url("images/search_button.png");
}

.menu-sep {
  height: 21px;
  width: 4px;
  background-image: url("images/menu_sep.png");
  /*background-repeat: repeat-y;*/
}

.search-txt {
  background: transparent;
  border: none;
  width: 124px;
  margin-right: 3px;
}

.lang {
  padding-left: 15px;
  font-size: 12px;
}

.column {
  float: left;
  width: 33%;
}

.main,
.top-main {
  margin: auto;
  width: 920px;
}

.main {
  padding-left: 15px;
  padding-top: 30px;
}

nav > ul > li , .menu-elem{
  display: inline-block;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
}

.dropdown:hover > .dropdown-content {
  display: block;
}

nav > ul > li >  div > a {
  position: absolute;
  top:0px;
  right:10px;
}